Repository shyndman/zush: changes, and which pre-commit hooks are due for each by the changed paths.
All: zsh-syntax-check, zcompile-dry-run

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_schedule: weekly
  skip: []
  submodules: false

repos:
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
        name: shellcheck (zsh configs)
        args:
          - --shell=bash
          - --severity=error
          - --exclude=SC1090,SC1091
        files: >-
          ^(home/\.zshenv|install\.sh|rc\.d/.*\.zsh|scripts/.*\.sh)$
        exclude: >-
          ^(plugins/|worktrees/)

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        name: shfmt (shell scripts)
        args:
          - --diff
          - --indent
          - "4"
        files: >-
          ^(install\.sh|scripts/.*\.sh)$

  - repo: local
    hooks:
      - id: zsh-syntax-check
        name: zsh -n syntax check
        entry: scripts/pre-commit-zsh-syntax.sh
        language: script
        files: >-
          ^(home/\.zshenv|install\.sh|lib/.*\.zsh|rc\.d/.*\.zsh|scripts/.*\.sh|completions/.*)$
        exclude: >-
          ^(plugins/|worktrees/)

      - id: zcompile-dry-run
        name: zcompile dry run
        entry: scripts/pre-commit-zcompile.sh
        language: script
        files: >-
          ^(home/\.zshenv|lib/.*\.zsh|rc\.d/.*\.zsh)$
        exclude: >-
          ^(plugins/|worktrees/)

Remove temp llm-anthropic fork and reference upstream
  install.sh
Due: zsh-syntax-check

Add a new mid-word substring match to my zstyle
  rc.d/85-completions.zsh
  scripts/pre-commit-zcompile.sh
Due: zsh-syntax-check, zcompile-dry-run

Avoid error printed when cache non-existent
  lib/core.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add a couple of clipboard global aliases
  rc.d/80-misc-aliases.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add error handling for external commands
  lib/lazy-loader.zsh
  rc.d/42-eza.zsh
  rc.d/60-better-reading.zsh
  rc.d/90-prompt.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add zush_cached_eval and use for direnv hook
  lib/lazy-loader.zsh
  rc.d/98-shell-hooks.zsh
Due: zsh-syntax-check, zcompile-dry-run

Migrate to a shellcheck that does not require Docker
  .pre-commit-config.yaml
Due: none

Resolve shellcheck issues
  rc.d/30-history.zsh
  rc.d/82-llms.zsh
  rc.d/83-systemd.zsh
Due: zsh-syntax-check, zcompile-dry-run

Migrate from pre-commit ci to actions, which ensures the env has zsh installed
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

Add MIT license
  LICENSE
Due: none

Add some badges
  README.md
Due: none

Update workflow to use non-hallucinated versions
  .github/workflows/pre-commit.yml
Due: none

Install zsh during the workflow
  .github/workflows/pre-commit.yml
Due: none

Fix pre-commit badge link in README
  README.md
Due: none

Add error handling for curl and eval commands (#21)
  lib/lazy-loader.zsh
  rc.d/42-eza.zsh
  rc.d/60-better-reading.zsh
  rc.d/90-prompt.zsh
Due: zsh-syntax-check, zcompile-dry-run

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#22)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Include offending input in validation error messages
  lib/lazy-loader.zsh
  lib/plugin.zsh
Due: zsh-syntax-check, zcompile-dry-run

Explicitly return 0 from the background update check so we dont fail everytime there is no update
  lib/update-check.zsh
Due: zsh-syntax-check, zcompile-dry-run

Change how we locate idf.py to use IDF_PATH as a fallback
  rc.d/10-lazy-tools.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add documentation for cache management functions and fix naming consistency
  AGENTS.md
  lib/lazy-loader.zsh
  lib/plugin.zsh
Due: zsh-syntax-check, zcompile-dry-run

Not much time for Gemini CLI these days
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add a function for running Claude with a debug port enabled Chrome
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add dangerclaude function for skipping permission prompts
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Enable OpenCode Exa web search
  rc.d/50-editor.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add a couple of opencode aliases
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Use upstream tracking branch for update checks and ensure background check runs before prompt.
  .zshrc
  lib/update-check.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add zsh-autoenv plugin for env loading
  rc.d/15-misc-plugins.zsh
Due: zsh-syntax-check, zcompile-dry-run

Install opencode automatically, and add opencode completions
  completions/_opencode
  install.sh
Due: zsh-syntax-check

Add openspec completions
  completions/_openspec
Due: zsh-syntax-check

Add Dragon NPU utilities
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Revert "Add Dragon NPU utilities"
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Remove previous agent specs
  docs/00-performant-shell-config.md
  docs/01-installation-script-augmentation.md
  docs/02-tui-installer-redesign.md
Due: none

Intercept -h/--h and color the output
  rc.d/60-better-reading.zsh
  rc.d/84-git-worktrees.zsh
Due: zsh-syntax-check, zcompile-dry-run

Replace claude chrome helper with opencode
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Switch to Firefox for the debug browser
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add a couple aliases to `opencode run`
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run
