Repository shyndman/zush: changes, and which pre-commit hooks are due for each by the changed paths.
All: zsh-syntax-check, zcompile-dry-run

zsh-syntax-check:
  name: zsh -n syntax check
  entry: scripts/pre-commit-zsh-syntax.sh
  language: script

zcompile-dry-run:
  name: zcompile dry run
  entry: scripts/pre-commit-zcompile.sh
  language: script

Switch LW model to Gemini Lite 2.5
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Track q command exit status explicitly
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Switch q() to use llm-tools-exa with -T Exa
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add llm-tools-exa to installation script
  install.sh
Due: zsh-syntax-check

Add mdc function to create directory and cd into it
  rc.d/80-misc-aliases.zsh
Due: zsh-syntax-check, zcompile-dry-run

Organize aliases a bit
  rc.d/80-misc-aliases.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add a fd alias to fd that ignores less
  rc.d/80-misc-aliases.zsh
Due: zsh-syntax-check, zcompile-dry-run

add shell reload helper
  lib/update-check.zsh
Due: zsh-syntax-check, zcompile-dry-run

contextualize llm queries
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

add HIST_IGNORE_SPACE option to ignore leading spaces in command history
  rc.d/20-zsh-options.zsh
Due: zsh-syntax-check, zcompile-dry-run

Allow zushp to target nested plugin path
  lib/plugin.zsh
Due: zsh-syntax-check, zcompile-dry-run

pause instant prompt swap after startup errors
  .zshrc
  lib/core.zsh
  lib/instant-prompt.zsh
  tests/instant_prompt_test.zsh
Due: zsh-syntax-check, zcompile-dry-run

Scope plugin path resolution
  lib/plugin.zsh
Due: zsh-syntax-check, zcompile-dry-run

Refactor to use a util method
  install.sh
Due: zsh-syntax-check

Set Moor as the default pager
  rc.d/60-better-reading.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add moor to the list of brew tools
  install.sh
Due: zsh-syntax-check

add apply_env helper for dotenv files
  rc.d/86-dotenv.zsh
Due: zsh-syntax-check, zcompile-dry-run

Whoops, correct model ID
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add --url option to opencode-firefox for connecting to existing browsers
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Remove the OpenCode EXA flag
  rc.d/50-editor.zsh
Due: zsh-syntax-check, zcompile-dry-run

fix: preserve working directory after update-zush reload
  lib/update-check.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add a function for previewing Markdown in the browser
  rc.d/60-better-reading.zsh
Due: zsh-syntax-check, zcompile-dry-run

Improve mdp preview styling and diagram rendering
  assets/mdp-preview.css
  rc.d/60-better-reading.zsh
  scripts/mmdc-wrapper.sh
  vendor/pandoc-ext/diagram/.editorconfig
  vendor/pandoc-ext/diagram/.gitignore
  vendor/pandoc-ext/diagram/CHANGELOG.md
  vendor/pandoc-ext/diagram/LICENSE
  vendor/pandoc-ext/diagram/Makefile
  vendor/pandoc-ext/diagram/README.md
  vendor/pandoc-ext/diagram/_extensions/diagram/_extension.yaml
  vendor/pandoc-ext/diagram/_extensions/diagram/diagram.lua
  vendor/pandoc-ext/diagram/diagram.lua
  vendor/pandoc-ext/diagram/sample.md
  vendor/pandoc-ext/diagram/test/expected-asymptote.html
  vendor/pandoc-ext/diagram/test/expected-cetz.html
  vendor/pandoc-ext/diagram/test/expected-d2.html
  vendor/pandoc-ext/diagram/test/expected-dot.html
  vendor/pandoc-ext/diagram/test/expected-mermaid.html
  vendor/pandoc-ext/diagram/test/expected-no-alt-or-caption.html
  vendor/pandoc-ext/diagram/test/expected-plantuml.html
  vendor/pandoc-ext/diagram/test/expected-tikz.html
  vendor/pandoc-ext/diagram/test/input-asymptote.md
  vendor/pandoc-ext/diagram/test/input-cetz.md
  vendor/pandoc-ext/diagram/test/input-d2.md
  vendor/pandoc-ext/diagram/test/input-dot.md
  vendor/pandoc-ext/diagram/test/input-mermaid.md
  vendor/pandoc-ext/diagram/test/input-no-alt-or-caption.md
  vendor/pandoc-ext/diagram/test/input-plantuml.md
  vendor/pandoc-ext/diagram/test/input-tikz.md
  vendor/pandoc-ext/diagram/test/plantuml-quarto.qmd
  vendor/pandoc-ext/diagram/test/test-asymptote.yaml
  vendor/pandoc-ext/diagram/test/test-cetz.yaml
  vendor/pandoc-ext/diagram/test/test-d2.yaml
  vendor/pandoc-ext/diagram/test/test-dot.yaml
  vendor/pandoc-ext/diagram/test/test-mermaid.yaml
  vendor/pandoc-ext/diagram/test/test-no-alt-or-caption.yaml
  vendor/pandoc-ext/diagram/test/test-plantuml.yaml
  vendor/pandoc-ext/diagram/test/test-tikz.yaml
Due: zsh-syntax-check, zcompile-dry-run

fix: align mdp preview elements horizontally
  assets/mdp-preview.css
Due: none

Add a set of aliases for oh-my-pi
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Update openspec schema
  completions/_openspec
Due: zsh-syntax-check

Modify the markdown preview to operate on the current clipboard value when not provided with an arg
  rc.d/60-better-reading.zsh
Due: zsh-syntax-check, zcompile-dry-run

Automate brew/pyenv install and update zshrc
  install.sh
Due: zsh-syntax-check

Check Linux build prerequisites
  install.sh
Due: zsh-syntax-check

Ensure zshrc patch adds newline
  install.sh
Due: zsh-syntax-check

Use printf for newline when patching zshrc
  install.sh
Due: zsh-syntax-check

Add missing function
  install.sh
Due: zsh-syntax-check

Skip brew prompts when packages exist
  install.sh
Due: zsh-syntax-check

Fix a strange completion problem in my shell
  rc.d/81-fzf.zsh
Due: zsh-syntax-check, zcompile-dry-run

feat: extract mdp helper into bin
  bin/mdp
  rc.d/05-path.zsh
  rc.d/60-better-reading.zsh
Due: zsh-syntax-check, zcompile-dry-run

style: widen markdown preview layout
  assets/mdp-preview.css
Due: none

style: add breathing room to lists
  assets/mdp-preview.css
Due: none

fix: enable markdown list extension in mdp
  bin/mdp
Due: none

style: soften list marker color
  assets/mdp-preview.css
Due: none

style: soften markers and strong text
  assets/mdp-preview.css
Due: none

Path conditions:
  zsh-syntax-check: any of: ^(home/\.zshenv|install\.sh|lib/.*\.zsh|rc\.d/.*\.zsh|scripts/.*\.sh|completions/.*)$, but not: ^(plugins/|worktrees/)
  zcompile-dry-run: any of: ^(home/\.zshenv|lib/.*\.zsh|rc\.d/.*\.zsh)$, but not: ^(plugins/|worktrees/)
