Repository shyndman/zush: changes, and which pre-commit hooks are due for each by the changed paths.
All: zsh-syntax-check, zcompile-dry-run

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_schedule: weekly
  skip: []
  submodules: false

repos:
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
        name: shellcheck (zsh configs)
        args:
          - --shell=bash
          - --severity=error
          - --exclude=SC1090,SC1091
        files: >-
          ^(home/\.zshenv|install\.sh|rc\.d/.*\.zsh|scripts/.*\.sh)$
        exclude: >-
          ^(plugins/|worktrees/)

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        name: shfmt (shell scripts)
        args:
          - --diff
          - --indent
          - "4"
        files: >-
          ^(install\.sh|scripts/.*\.sh)$

  - repo: local
    hooks:
      - id: zsh-syntax-check
        name: zsh -n syntax check
        entry: scripts/pre-commit-zsh-syntax.sh
        language: script
        files: >-
          ^(home/\.zshenv|install\.sh|lib/.*\.zsh|rc\.d/.*\.zsh|scripts/.*\.sh|completions/.*)$
        exclude: >-
          ^(plugins/|worktrees/)

      - id: zcompile-dry-run
        name: zcompile dry run
        entry: scripts/pre-commit-zcompile.sh
        language: script
        files: >-
          ^(home/\.zshenv|lib/.*\.zsh|rc\.d/.*\.zsh)$
        exclude: >-
          ^(plugins/|worktrees/)

Add the hacker-welcome plugin
  rc.d/15-misc-plugins.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add a little to the q() system prompt
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Restore wildcard tab expansion fallback
  rc.d/81-fzf.zsh
Due: zsh-syntax-check, zcompile-dry-run

Replace clipboard aliases with cb script
  bin/cb
  rc.d/80-misc-aliases.zsh
Due: zsh-syntax-check, zcompile-dry-run

Replace omp aliases with a new dpi alias that launches in an overlay
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Propagate env into dpi overlay alias
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Alias mv to interactive mode
  rc.d/80-misc-aliases.zsh
Due: zsh-syntax-check, zcompile-dry-run

Fully specify the path to omp
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Remove bat 2 letter aliases
  rc.d/60-better-reading.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add ~/.zfunc to FPATH
  rc.d/85-completions.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add an explicit VIRTUAL_ENV to dpi
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add Notes directory alias
  rc.d/41-dev-directories.zsh
Due: zsh-syntax-check, zcompile-dry-run

Use a dedicated completion model
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Improve the styling of markdown previews
  assets/mdp-preview.css
  bin/mdp
Due: none

Correct an incorrect model ID
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Use Tailwind Typography for markdown previews
  assets/mdp-preview-after-body.html
  assets/mdp-preview-before-body.html
  assets/mdp-preview.css
  assets/mdp-preview.src.css
  bin/mdp
  package-lock.json
  package.json
Due: none

Use Adelle for markdown previews
  assets/mdp-preview.css
  assets/mdp-preview.src.css
Due: none

Use Ubuntu Sans for markdown preview headings
  assets/mdp-preview.css
  assets/mdp-preview.src.css
Due: none

Remove virtual env from dpi alias
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Remove pyenv from install flow
  AGENTS.md
  README.md
  install.sh
  rc.d/10-lazy-tools.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add huggingface CLI (hf) completions
  completions/_hf
Due: zsh-syntax-check

Add stdin rendering to mdp
  bin/mdp
Due: none

Widen mdp preview content
  assets/mdp-preview.css
  assets/mdp-preview.src.css
Due: none

Add absolute fd alias
  rc.d/80-misc-aliases.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add omp completions
  completions/_omp
Due: zsh-syntax-check

Skip line-editor and prompt setup under dumb terminals
  lib/core.zsh
  lib/instant-prompt.zsh
  rc.d/30-history.zsh
  rc.d/81-fzf.zsh
  rc.d/90-prompt.zsh
Due: zsh-syntax-check, zcompile-dry-run

Resolve omp path dynamically in dpi alias
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Ignore node_modules
  .gitignore
Due: none

Defer omp resolution to dpi invocation time
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Change editors to Zed and Neovim
  rc.d/50-editor.zsh
Due: zsh-syntax-check, zcompile-dry-run

Guard ZLE setup on live line editor, not just TERM=dumb
  lib/core.zsh
  rc.d/30-history.zsh
  rc.d/81-fzf.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add lazy Bash completion compatibility
  .pre-commit-config.yaml
  completions/_bash_linode
  completions/bash/linode.bash
  rc.d/85-completions.zsh
  scripts/generate-bash-completion-stubs.sh
Due: zsh-syntax-check, zcompile-dry-run

Update models referenced in aliases to latest
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add swamp completions
  completions/_swamp
Due: zsh-syntax-check

Add a pyinfra completion
  completions/_pyinfra
Due: zsh-syntax-check

Add completions for `git wt`
  completions/_git-wt
Due: zsh-syntax-check

Add the git-wt plugin
  completions/_git-wt
  rc.d/15-misc-plugins.zsh
Due: zsh-syntax-check, zcompile-dry-run

feat: Added clipboard widget and keybinding
  rc.d/52-clipboard.zsh
Due: zsh-syntax-check, zcompile-dry-run

Switched LLM web search tool and included current date in prompt
  rc.d/82-llms.zsh
Due: zsh-syntax-check, zcompile-dry-run

Add a utility for generating 1password passwords
  bin/op-password
Due: none
